body{
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}
ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.general{
    width: 20%;
    float: left;
}
.general span{
	display: block;
}
.links{
    width: 80%;
    float: right;
}
.links ul{
	text-align: right;
}
h2{
    margin: 10px 0 8px 10px;
}
.skills, .experiences{
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    margin-top: 0.5em;
}
.skills{
	display: inline-block;
    width: 310px;
    border: 4px solid #9CBD74;
    padding: 5px;
}
.skills h2{
    color: #9CBD74;
}
.skills ol>li{
	font-size: 1.1em;
}
.skills ul{
	padding : 0.5em 0 0.5em 4ex;
	font-size: 0.9em;
}
.experiences{
    width: 700px;
    float: right;
    border: 4px solid #6ADDF2;
    padding: 5px;
    margin-bottom: 0.5em;
}
.experiences h2{
    color : #6ADDF2;
}
.experiences .where{
	margin-right: 4em;
}
.experiences .tasks{
	margin: 0 0 0 0;
}
.experiences .what, .experiences .type{
	float: right;
}
.experiences .compagny:after, .experiences .type:after{
	content : ' - ';
	display: inline-block;
	margin: 0 .5em;
}
.experiences .technologies{
	margin: .5em 0 1em 4em;
}
.experiences .technologies li{
	display: inline;
}
.experiences .technologies li:after{
	content: ', ';
}
.experiences .technologies li:last-child:after{
		content: '.';
}
.experiences .tasks li{
	margin-left: 4em;
}
.trainning{
    clear: both;
    border: 4px solid #7F0071;
    padding : 5px;
    margin-top: 0.5em;
}
.trainning h2{
    color : #7F0071;
}
.trainning ol li .year{
	font-weight: bold;
}
.trainning ol li .year:after{
	content : ' - ';
	font-weight: normal;
}
.trainning ol li .what{
	display: inline-block;
	width: 940px;
}
.trainning ol li .school{
	margin-left: 4em;
}
.trainning ol li .school:after{
	content: ' ';
	display: inline-block;
	width: 1em;
}
.hobies{
    clear: both;
    border: 4px solid #FA935A;
    padding : 5px;
    margin-top: 0.5em;
}
.hobies h2{
    color: #FA935A;
}
.hobies ol li{
	display: inline;
}
.hobies ol li:after{
	content: ', ';
}
.hobies ol li:last-child:after{
	content: '.';
}